*{
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
body{
    background-color: black;
}
.num2 {
    margin-top: 0vh;
    justify-content: center;
    font-size: 785%;
    display: flex;
    color: cyan;
}
.num1 {
    margin-bottom: 0vh;
    justify-content: center;
    font-size: 785%;
    display: flex;
    color: cyan;
}
